<div class="row">
    <div class="col-md-12">
        <h1> Register your App </h1>
    </div>
</div>

 <div class="row">
   <div class="col-md-8">
     <%= render partial: 'form', locals: { registered_application: @registered_application } %>
   </div>
 </div>
