<div class="row">
  <div class="col-md-4"></div>    
    <div class="col-md-8">
      <h2>Dashboard for <%= @registered_application.name %> </h1>
    </div>    
<div class="col-md-4"></div>    
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-md-4">Event Name</th>
        <th class="col-md-4">Event Pie Chart</th>
        <th class="col-md-4">Event Line Chart</th>
      </tr>
    </thead>
    <tbody>
      <tr> 
        <% @events.each do |event, count| %>
          <td><%= event %></td>
          <td><%= pie_chart @registered_application.events.group(:name).count %></td>
          <td><%= line_chart @registered_application.events.group_by_day(:created_at).count %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
  